# 簡単な分析の実行例（Python編）
サンプルデータを読み込んで、散布図を書いてみよう！</br>
（『[RとPythonで学ぶ実践的データサイエンス&機械学習]( https://www.amazon.co.jp/dp/429710508X/ref=cm_sw_em_r_mt_dp_hXISFbNZQVC16)』より抜粋 p.95）

**Step1**　必要なライブラリを読み込む

ヒント import （ライブラリ名）as で読み込めます
<br>
pandas　を　pd　として　matplotlib.pyplotをpltとして読み込んでみましょう

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

**Step2**　CSVファイルを読み込んでデータフレームに格納

ヒント　pd.read_csv（"httpsリンク", sep=","）でカンマ区切りのファイルを読み込めます

In [2]:
DF = pd.read_csv("https://raw.githubusercontent.com/mkato-riken/test/main/sample.csv", sep = ",")

**Step3**　先頭の６行を確認

ヒント　データフレーム名.head(行数)で表示できます

In [3]:
DF.head(6)

       varA      varB
0  1.092327  0.701387
1 -0.212361  0.109707
2  0.850456  0.278144
3  0.969198  1.292435
4  2.596218  0.948212
5 -0.508290 -0.648164

**Step４**　データ型と行数、列数を確認

ヒント　type()でデータ型　.shapeで行列数が確認できます

In [4]:
type(DF)

pandas.core.frame.DataFrame

In [5]:
DF.shape

(200, 2)

**Step5**　平均値、最大値、最小値などを確認

ヒント　.describe()を使ってみましょう

In [6]:
DF.describe()

             varA        varB
count  200.000000  200.000000
mean     0.025771    0.037083
std      1.006850    1.029864
min     -2.801946   -3.364918
25%     -0.544375   -0.759240
50%      0.084723    0.108739
75%      0.710630    0.770033
max      2.596218    2.294457

**Step6**　varAとvarBをそれぞれ２乗して足した値が１未満かどうかを判定（判定結果を id　に入れる）

In [7]:
id = DF['varA']**2 + DF['varB']**2 < 1

In [8]:
id

0      False
1       True
2       True
3      False
4      False
       ...
195     True
196     True
197    False
198    False
199     True
Length: 200, dtype: bool