# 簡単な分析の実行例（Python編）
サンプルデータを読み込んで新しいデータを格納してみよう！</br>
（『[RとPythonで学ぶ実践的データサイエンス&機械学習]( https://www.amazon.co.jp/dp/429710508X/ref=cm_sw_em_r_mt_dp_hXISFbNZQVC16)』より抜粋）
<br>
講義資料 p20-26 プログラミングの基礎知識　Python　参照

**Step1**　必要なライブラリを読み込む

ヒント import （ライブラリ名）as で読み込めます
<br>
pandas　を　pd　として読み込んでみましょう（講義資料p25）

In [1]:
import pandas as pd

**Step2**　CSVファイルを読み込んでデータフレームに格納

ヒント　pd.read_csv（"httpsリンク", sep=","）でカンマ区切りのファイルを読み込めます（講義資料p25）

In [2]:
DF = pd.read_csv("https://raw.githubusercontent.com/mkato-riken/test/main/sample.csv", sep = ",")

**Step3**　先頭の６行を確認

ヒント　データフレーム名.iloc[行,列]で表示できます（講義資料p26）

In [4]:
DF[:6]

       varA      varB
0  1.092327  0.701387
1 -0.212361  0.109707
2  0.850456  0.278144
3  0.969198  1.292435
4  2.596218  0.948212
5 -0.508290 -0.648164

**Step４**　データ型と行数、列数を確認

ヒント　type()でデータ型　.shapeで行列数が確認できます（講義資料p22、p25）

In [8]:
#データ型
print(type(DF))
#行列数
print(DF.shape)

<class 'pandas.core.frame.DataFrame'>
(200, 2)

**Step5**　列ごとの最大値、最小値を確認

ヒント　.関数()で算出できます（講義資料p26）

In [15]:
#最大値
print(DF.max())
#最小値
print(DF.min())

varA    2.596218
varB    2.294457
dtype: float64
varA   -2.801946
varB   -3.364918
dtype: float64

**Step6**　varAとvarBをそれぞれ２乗して足した値が１未満かどうかを判定（判定結果を idに入れる）

ヒント　列の値どうしで演算し、結果を新しい列に格納します（講義資料p20、p26）

In [17]:
id = DF['varA']**2 + DF['varB']**2 < 1
id

0      False
1       True
2       True
3      False
4      False
       ...
195     True
196     True
197    False
198    False
199     True
Length: 200, dtype: bool