# 簡単な分析の実行例（R編）
サンプルデータを読み込んで、散布図を書いてみよう！</br>
（『[RとPythonで学ぶ実践的データサイエンス&機械学習]( https://www.amazon.co.jp/dp/429710508X/ref=cm_sw_em_r_mt_dp_hXISFbNZQVC16)』より抜粋 p.94）

**Step1**　ライブラリ　ggplot2 を読み込む
<br>
ヒント　library()でライブラリの読み込みができます

In [1]:
library(ggplot2)

**Step2**　CSVファイルを読み込んでデータフレーム(DF)に格納
<br>
ヒント　read.table（"httpsリンク", sep=",", header = T）でカンマ区切りのヘッダー付きファイルを読み込みます

In [2]:
DF <- read.table("https://raw.githubusercontent.com/mkato-riken/test/main/sample.csv", sep =",", header = T)

**Step3**　先頭の６行を確認

In [3]:
head(DF)

  varA       varB
1  1.0923267  0.7013870
2 -0.2123608  0.1097072
3  0.8504561  0.2781445
4  0.9691980  1.2924353
5  2.5962176  0.9482120
6 -0.5082902 -0.6481637

**Step４**　行数、列数を確認
<br>
str関数で行数列数が確認できます

In [4]:
str(DF)

'data.frame':	200 obs. of  2 variables:
 $ varA: num  1.092 -0.212 0.85 0.969 2.596 ...
 $ varB: num  0.701 0.11 0.278 1.292 0.948 ...

**Step5**　平均値、中央値、最大値、最小値を確認
<br>
ヒント　summary関数を使ってみましょう

In [5]:
summary(DF)

      varA               varB
 Min.   :-2.80195   Min.   :-3.36492
 1st Qu.:-0.54437   1st Qu.:-0.75924
 Median : 0.08472   Median : 0.10874
 Mean   : 0.02577   Mean   : 0.03708
 3rd Qu.: 0.71063   3rd Qu.: 0.77003
 Max.   : 2.59622   Max.   : 2.29446

**Step6**　varAとvarBをそれぞれ２乗して足した値が１未満かどうかを判定
<br>
（判定結果を id　に格納する）

In [9]:
id <- DF$varA^2 + DF$varB^2 < 1